.container{
    display: flex;
    gap: 3rem;
    margin-top: 80px;
    width: 100%;
}

.main{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;
}

.offer{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1{
        animation: appearance 2s  forwards;
    }

    p{
        animation: appearance 2.2s forwards;
    }

    button{
        width: 70%;
        animation: appearance 2.4s forwards;
    }
}

@media screen and (max-width: 1150px) {
    .container{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        gap: 3rem;
        button{
            margin: 0 auto;
        }
    }
    .offer{
        h1{
            font-size: 3rem;
        }
    }
}

@keyframes appearance {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}