.main{
    max-width: 1400px;
    width: 1400px;
    margin: 0 auto;
}

a, p{
    text-decoration: none;
    font-size: 24px;
    transition: 0.3s;
    font-weight: 300;
    color: #ffffff;
}

h1{
    font-size: 80px;
    color: #ffffff;
    text-transform: uppercase;
}

h5{
    font-size: 40px;
    color: #ffffff;
    font-weight: 400;

}

@media screen and (max-width: 400px) {
    h1{
        font-size: 50px;
    }
    p{
        font-size: 16px;
    }
}